{{!-- The big featured header --}}
<header
  class="sezzh-header  sezzh-header--fixed"
  data-sezzh-comp="header">
    {{> "logo" }}
  <div class="sezzh-header__net-wrapper">
    {{> networking}}
  </div>
</header>
