<nav
  class="
    sezzh-nav
    sezzh-nav--fixed
    u--m-header
    sezzh-nav--closed"
  data-sezzh-comp="nav">
  {{#foreach navigation}}
    <a class="
      sezzh-nav__item
      {{#if current}}sezzh-nav__item--selected{{/if}}"
      href="{{url absolute="true"}}">
      {{label}}
    </a>
  {{/foreach}}
</nav>
