<section
  class="sezzh-networking  u--opacity--off"
  data-sezzh-comp="networking">
  <ul class="sezzh-networking__list">
    <li class="sezzh-networking__list__item">
      <a href="mailto:sezzhltd@gmail.com">
        <i
          class="icon-envelope-o  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="https://gitlab.com/sezzh">
        <i
          class="icon-gitlab  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="https://github.com/sezzh">
        <i
          class="icon-github-alt  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="https://www.linkedin.com/in/sezzh/">
        <i
          class="icon-linkedin  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="https://www.instagram.com/sezzh/">
        <i
          class="icon-instagram  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="https://twitter.com/Sezzh">
        <i
          class="icon-twitter  sezzh-networking-icon"
          data-sezzh-comp="net-icon">
        </i>
      </a>
    </li>
  </ul>
</section>
