<section
  class="sezzh-networking  u--opacity--off"
  data-sezzh="networking">
  <ul class="sezzh-networking__list">
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-envelope-o  sezzh-networking-icon"></i></a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-gitlab  sezzh-networking-icon"></i></a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-github-alt  sezzh-networking-icon"></i></a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-linkedin  sezzh-networking-icon"></i></a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-instagram  sezzh-networking-icon"></i></a>
    </li>
    <li class="sezzh-networking__list__item">
      <a href="#"><i class="icon-twitter  sezzh-networking-icon"></i></a>
    </li>
  </ul>
</section>
