.sezzh-logo
  align-items: center
  display: flex
  width: rem-calc(44)
  @media only screen and (min-width: rem-calc($bp-xs-size))
    width: rem-calc(64)
  &__img
    max-width: 100%
  &__wrapper
    left: rem-calc(8)
    position: fixed
    top: rem-calc(8)
