@import './variables'

@font-face
  font-family 'sezzh'
  src url(sezzh-font-path + '/sezzh.eot?mrxlp4')
  src url(sezzh-font-path + '/sezzh.eot?mrxlp4#iefix') format('embedded-opentype'), url(sezzh-font-path + '/sezzh.ttf?mrxlp4') format('truetype'), url(sezzh-font-path + '/sezzh.woff?mrxlp4') format('woff'), url(sezzh-font-path + '/sezzh.svg?mrxlp4#sezzh') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'sezzh' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-envelope-o
  &:before
    content icon-envelope-o
.icon-qrcode
  &:before
    content icon-qrcode
.icon-barcode
  &:before
    content icon-barcode
.icon-twitter
  &:before
    content icon-twitter
.icon-facebook
  &:before
    content icon-facebook
.icon-facebook-f
  &:before
    content icon-facebook-f
.icon-google-plus
  &:before
    content icon-google-plus
.icon-envelope
  &:before
    content icon-envelope
.icon-linkedin
  &:before
    content icon-linkedin
.icon-github-alt
  &:before
    content icon-github-alt
.icon-terminal
  &:before
    content icon-terminal
.icon-code
  &:before
    content icon-code
.icon-youtube
  &:before
    content icon-youtube
.icon-youtube-play
  &:before
    content icon-youtube-play
.icon-instagram
  &:before
    content icon-instagram
.icon-bitbucket
  &:before
    content icon-bitbucket
.icon-tumblr
  &:before
    content icon-tumblr
.icon-apple
  &:before
    content icon-apple
.icon-windows
  &:before
    content icon-windows
.icon-android
  &:before
    content icon-android
.icon-linux
  &:before
    content icon-linux
.icon-skype
  &:before
    content icon-skype
.icon-foursquare
  &:before
    content icon-foursquare
.icon-paw
  &:before
    content icon-paw
.icon-steam
  &:before
    content icon-steam
.icon-ra
  &:before
    content icon-ra
.icon-rebel
  &:before
    content icon-rebel
.icon-resistance
  &:before
    content icon-resistance
.icon-empire
  &:before
    content icon-empire
.icon-ge
  &:before
    content icon-ge
.icon-paper-plane-o
  &:before
    content icon-paper-plane-o
.icon-send-o
  &:before
    content icon-send-o
.icon-at
  &:before
    content icon-at
.icon-mars
  &:before
    content icon-mars
.icon-genderless
  &:before
    content icon-genderless
.icon-facebook-official
  &:before
    content icon-facebook-official
.icon-whatsapp
  &:before
    content icon-whatsapp
.icon-i-cursor
  &:before
    content icon-i-cursor
.icon-hand-grab-o
  &:before
    content icon-hand-grab-o
.icon-hand-rock-o
  &:before
    content icon-hand-rock-o
.icon-hand-paper-o
  &:before
    content icon-hand-paper-o
.icon-hand-stop-o
  &:before
    content icon-hand-stop-o
.icon-hand-scissors-o
  &:before
    content icon-hand-scissors-o
.icon-hand-lizard-o
  &:before
    content icon-hand-lizard-o
.icon-hand-spock-o
  &:before
    content icon-hand-spock-o
.icon-hand-pointer-o
  &:before
    content icon-hand-pointer-o
.icon-hand-peace-o
  &:before
    content icon-hand-peace-o
.icon-wikipedia-w
  &:before
    content icon-wikipedia-w
.icon-safari
  &:before
    content icon-safari
.icon-chrome
  &:before
    content icon-chrome
.icon-firefox
  &:before
    content icon-firefox
.icon-opera
  &:before
    content icon-opera
.icon-map-o
  &:before
    content icon-map-o
.icon-reddit-alien
  &:before
    content icon-reddit-alien
.icon-edge
  &:before
    content icon-edge
.icon-gitlab
  &:before
    content icon-gitlab
.icon-snapchat-ghost
  &:before
    content icon-snapchat-ghost
.icon-address-card-o
  &:before
    content icon-address-card-o
.icon-vcard-o
  &:before
    content icon-vcard-o
.icon-eercast
  &:before
    content icon-eercast
.icon-ac_unit
  &:before
    content icon-ac_unit
.icon-arrow_back
  &:before
    content icon-arrow_back
.icon-arrow_downward
  &:before
    content icon-arrow_downward
.icon-arrow_forward
  &:before
    content icon-arrow_forward
.icon-arrow_upward
  &:before
    content icon-arrow_upward
.icon-brightness_1
  &:before
    content icon-brightness_1
.icon-brightness_2
  &:before
    content icon-brightness_2
.icon-brightness_3
  &:before
    content icon-brightness_3
.icon-brightness_4
  &:before
    content icon-brightness_4
.icon-brightness_low
  &:before
    content icon-brightness_low
.icon-call_made
  &:before
    content icon-call_made
.icon-call_received
  &:before
    content icon-call_received
.icon-close
  &:before
    content icon-close
.icon-expand_less
  &:before
    content icon-expand_less
.icon-face
  &:before
    content icon-face
.icon-favorite
  &:before
    content icon-favorite
.icon-favorite_border
  &:before
    content icon-favorite_border
.icon-fingerprint
  &:before
    content icon-fingerprint
.icon-star
  &:before
    content icon-star
.icon-keyboard_arrow_down
  &:before
    content icon-keyboard_arrow_down
.icon-keyboard_arrow_left
  &:before
    content icon-keyboard_arrow_left
.icon-keyboard_arrow_right
  &:before
    content icon-keyboard_arrow_right
.icon-keyboard_arrow_up
  &:before
    content icon-keyboard_arrow_up
.icon-keyboard_backspace
  &:before
    content icon-keyboard_backspace
.icon-location_off
  &:before
    content icon-location_off
.icon-room
  &:before
    content icon-room
.icon-star_border
  &:before
    content icon-star_border
.icon-star_half
  &:before
    content icon-star_half
.icon-whatshot
  &:before
    content icon-whatshot
