@import './font.styl'

.sezzh-networking-icon
  color: $icofont-default-color
  font-size: rem-calc(18)
  transition-duration: .5s
  transition-property: color
  @media only screen and (min-width: rem-calc($xs-size))
    font-size: rem-calc(24)
