html
  background-color: $base-gray-light-background-color
  font-family: $font-main
  font-size: $font-html-base-size px

body
  background-color: $base-gray-light-background-color
  margin: 0

.site-wrapper
  background-color: $base-gray-light-background-color

.site-main
  padding: 0 1rem
  width: calc(100% - 2rem)
