.sezzh-networking
  width: 100%
  &__list
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    width: 100%
    justify-content: space-between
    &__item
      list-style-type: none
      > a
        text-decoration: none
