.sezzh-post-item
  display: block
  margin: 0
  margin-bottom: 1rem
  text-decoration: none
  width: 100%
  &__title
    border-bottom: rem-calc(1) solid $primary-light-color
    box-sizing: border-box
    color: $gray-26
    font-family: $font-main
    font-size: rem-calc(18)
    margin: 0
    margin-bottom: rem-calc(9)
    padding-bottom: rem-calc(9)
  &__wrapper
    border-bottom: rem-calc(1) solid $primary-dark-color
    box-sizing: border-box
    display: block
    padding-bottom: rem-calc(9)
    width: 100%
    &__content
      color: $gray-51
      display: block
      margin: 0
    &__date
      color: $gray-77
      display: block
      font-family: $font-main-thin
      font-size: rem-calc(16)
      text-align: right
      width: 100%
