.sezzh-tag-details
  width: 100%
  &__title
    color: $gray-26
    font-size: rem-calc(22)
    margin: 1rem 0
    text-align: center
    width: 100%
  &__description
    line-height: rem-calc(23)
    text-align: center
    width: 100%
