// Margin setups

.u--m-bottom
  margin-bottom: rem-calc($font-html-base-size)

.u--m-header
  margin-top: rem-calc($header-mobile-size)
  @media only screen and (min-width: rem-calc($bp-xs-size))
    margin-top: rem-calc($header-desktop-size)

// Align items
.u--align-left
  display: block
  text-align: left
  width: 100%

.u--align-right
  display: block
  text-align: right
  width: 100%

// Font colors
.u--font-accent-color
  color: $accent-color

.u--font-primary-dark-color
  color: $primary-dark-color

.u--font-primary-light-color
  color: $primary-light-color

// animate.css helpers

.u--a-opacity--off
  opacity: 0

.u--a-rotate-logo
  transform: rotate(-360deg)
  color: $accent-color



.cb
  background-color: blue
.cy
  background-color: orange
.cg
  background-color: green
.cp
  background-color: maaron
.cr
  background-color: red
.co
  background-color: olive
.cpp
  background-color: peru
